__tests__
.bundle
.vscode
android
ios
node_modules
src
.gitignore
.npmignore
.watchmanconfig
app.json
babel.config.js
biome.json
Gemfile
index.js
jest.config.js
metro.config.js
nativewind-env.d.ts
tailwind.config.js
tsconfig.json
tsconfig.types.json